<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
 
  </head>
 
 
 
<body>
<%#=****************************** For SIGNED IN User %>


    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script src="pusher-realtime-chat-widget/src/js/PusherChatWidget.js"></script>
<link href="pusher-realtime-chat-widget/src/pusher-chat.css" rel="stylesheet" type="text/css" />
<script>
$(function() {     
  var pusher = new Pusher('762d91d209496e530276');
  var chatWidget = new PusherChatWidget(pusher, {
    chatEndPoint: 'pusher-realtime-chat-widget/src/ruby-sinatra/chat.rb'
  });
});
</script> 






<% if user_signed_in? %> 
<div id="container">
 <div id="header" >
<div id="mainnav"><%=render 'layouts/navigation'%></div>

   <%= link_to image_tag('https://lh4.googleusercontent.com/-YHDuoBzZcj8/UBNXSLcs06I/AAAAAAAAAXA/92EYJXTEtIU/s170/cooltext736144688.jpg'), root_path, :class => 'brand' %>
</div>

  <div id="feeds">
  <% @user ||= current_user %>
   
<h2> my friends' arfs and meows:</h2>
   <%=render @feed_items%>
    <%= button_to "go to my home", user_path(@user), class: "test" ,:method=>:get%>
 </div> 
 <div id="links">
 <h2 id ="act">Activitis</h2>
  </div> 

<%end%>



<%#=*************************************For UNSIGNED USER%>

<% if !user_signed_in? %> 
<div id="container">
 <div id="header" >
<div id="mainnav"><%=render 'layouts/navigation'%></div>

   <%= link_to image_tag('https://lh4.googleusercontent.com/-YHDuoBzZcj8/UBNXSLcs06I/AAAAAAAAAXA/92EYJXTEtIU/s170/cooltext736144688.jpg'), root_path, :class => 'brand' %>
</div>


<div id = "feeds">
  
    <div class="fadein">  
    <img src="https://lh6.googleusercontent.com/-wUe2TDicTkc/UBNdi8LzzgI/AAAAAAAAAXc/gBvBKjBRHjk/s552/1.jpeg">
    <img src="https://lh3.googleusercontent.com/-HCUJvXKGGBc/UBNdi24YS-I/AAAAAAAAAXo/5fodI3GEpVw/s500/3.jpeg">
   
    <img src="https://lh6.googleusercontent.com/-4y8gAZdSJn8/UBNdjB0uEBI/AAAAAAAAAX0/OCqwl5Pq8OM/s552/4.jpeg">
    <img src="https://lh6.googleusercontent.com/-fis_ghmykAY/UBNdjHCmJUI/AAAAAAAAAXw/UZgAAard4mU/s552/5.jpeg">
    <img src="https://lh5.googleusercontent.com/-9trkJg2EHu4/UBNdjj7DYAI/AAAAAAAAAX4/l-A22v_cqvk/s552/6.jpeg">
    <img src="https://lh3.googleusercontent.com/-O0i6xmu1Fl0/UBNdj3I45mI/AAAAAAAAAYE/om_l1nYsLOs/s552/7.jpeg">
    
    </div>   
    </div>   
  <div id="links">
 <h2 id ="act">Activitis</h2>
  </div>
  
<%end%>


<%#=********************************************FOOTER%>
<div id="footer">
<%= render 'layouts/down'%>
</div>
</div>
</body>
</html>