<%=render 'welcome'%>
<div id="slideshow">
   <div>
     <%= image_tag 'https://lh6.googleusercontent.com/-hFfyFkHRwpg/UOf2syvTKQI/AAAAAAAAAms/yWmbsG0W3YY/s510/22.jpg'%>
   </div>
   <div>
       <%= image_tag 'https://lh3.googleusercontent.com/-9e5fkbQ1q8Y/UOf2uRtS4vI/AAAAAAAAAm0/dvRwjB4b_yM/s510/23.jpg' %>
   </div>
    <div>
       <%= image_tag 'https://lh3.googleusercontent.com/-ZE6J5YNjc4Q/UOf2vswdOfI/AAAAAAAAAm8/StctBaAFImg/s510/21.jpg'%>
   </div>
    <div>
       <%= image_tag 'https://lh4.googleusercontent.com/-_2ahy9efSY0/UOf2wQdXVrI/AAAAAAAAAnE/tN-jRJfay10/s323/24.jpg' %>
   </div>
    <div>
       <%= image_tag 'https://lh6.googleusercontent.com/-PS-ZhGZMBAY/UOf2xa4ZBzI/AAAAAAAAAnM/8LIxJnzApPc/s437/25.jpg' %>
   </div>
    <div>
       <%= image_tag 'https://lh5.googleusercontent.com/-UFzSXkEYqhU/UOf21muX4YI/AAAAAAAAAnU/dxNwxxfjJho/s510/26.jpg' %>
   </div>
    <div>
       <%= image_tag 'https://lh6.googleusercontent.com/-2u5RUbnV_HA/UOf23F5y6yI/AAAAAAAAAnc/1Xe2fds5psg/s498/28.jpg' %>
   </div>
    <div>
       <%= image_tag 'https://lh3.googleusercontent.com/-hZIY8TDszEE/UOf231poaQI/AAAAAAAAAnk/rgT3SA7cgQc/s510/27.jpg' %>
   </div>
    <div>
       <%= image_tag 'https://lh3.googleusercontent.com/-NviCwX-BYCw/UOf27qtdmKI/AAAAAAAAAns/XF2GwOod5os/s510/29.jpg' %>
   </div>
    <div>
       <%= image_tag 'https://lh3.googleusercontent.com/-VndKmEERZho/UOf28IqHJeI/AAAAAAAAAn0/Thg-J3bvADI/s510/30.jpg' %>
   </div>
</div>

<script>
$("#slideshow > div:gt(0)").hide();// Select all elements at an index greater than index within the matched set.

setInterval(function() { 
  $('#slideshow > div:first')//Selects the first matched element.
    .fadeOut(2000)// Hide the matched elements by fading them to transparent.
    .next()//Get the immediately following sibling of each element in the set of matched elements. If a selector is provided, it retrieves the next sibling only if it matches that selector.
    .fadeIn(2000)// Display the matched elements by fading them to opaque.
    .end()//End the most recent filtering operation in the current chain and return the set of matched elements to its previous state.
    .appendTo('#slideshow');//Insert every element in the set of matched elements to the end of the target.
},  4000);
</script>



<!--
<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
 </head>
 <body>
<%#=****************************** For SIGNED IN User %>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script src="pusher-realtime-chat-widget/src/js/PusherChatWidget.js"></script>
<link href="pusher-realtime-chat-widget/src/pusher-chat.css" rel="stylesheet" type="text/css" />
<script>
$(function() {     
  var pusher = new Pusher('762d91d209496e530276');
  var chatWidget = new PusherChatWidget(pusher, {
    chatEndPoint: 'pusher-realtime-chat-widget/src/ruby-sinatra/chat.rb'
  });
});
</script> 
<% if user_signed_in? %> 
<div id="container">
 <div id="header" >
<div id="mainnav"><%=render 'layouts/navigation'%></div>
 <%= link_to image_tag('https://lh4.googleusercontent.com/-YHDuoBzZcj8/UBNXSLcs06I/AAAAAAAAAXA/92EYJXTEtIU/s170/cooltext736144688.jpg'), root_path, :class => 'brand' %>
</div>
<div id="feeds">
  <% @user ||= current_user %>
<h2> my friends' arfs and meows:</h2>
   <%=render @feed_items%>
    <%= button_to "go to my home", user_path(@user), class: "test" ,:method=>:get%>
 </div> 
 <div id="links">
 <h2 id ="act">Activitis</h2>
  </div> 

<%end%>



<%#=*************************************For UNSIGNED USER%>

<% if !user_signed_in? %> 
<div id="container">
 <div id="header" >
<div id="mainnav"><%=render 'layouts/navigation'%></div>
 <%= link_to image_tag('https://lh4.googleusercontent.com/-YHDuoBzZcj8/UBNXSLcs06I/AAAAAAAAAXA/92EYJXTEtIU/s170/cooltext736144688.jpg'), root_path, :class => 'brand' %>
</div>
<div id = "feeds">
    <div class="fadein">  
    <img src="https://lh6.googleusercontent.com/-wUe2TDicTkc/UBNdi8LzzgI/AAAAAAAAAXc/gBvBKjBRHjk/s552/1.jpeg">
    <img src="https://lh3.googleusercontent.com/-HCUJvXKGGBc/UBNdi24YS-I/AAAAAAAAAXo/5fodI3GEpVw/s500/3.jpeg">
    <img src="https://lh6.googleusercontent.com/-4y8gAZdSJn8/UBNdjB0uEBI/AAAAAAAAAX0/OCqwl5Pq8OM/s552/4.jpeg">
    <img src="https://lh6.googleusercontent.com/-fis_ghmykAY/UBNdjHCmJUI/AAAAAAAAAXw/UZgAAard4mU/s552/5.jpeg">
    <img src="https://lh5.googleusercontent.com/-9trkJg2EHu4/UBNdjj7DYAI/AAAAAAAAAX4/l-A22v_cqvk/s552/6.jpeg">
    <img src="https://lh3.googleusercontent.com/-O0i6xmu1Fl0/UBNdj3I45mI/AAAAAAAAAYE/om_l1nYsLOs/s552/7.jpeg">
  </div>   
</div>   
  <div id="links">
 <h2 id ="act">Activitis</h2>
  </div>
<%end%>
<%#=********************************************FOOTER%>
<div id="footer">
<%= render 'layouts/down'%>
</div>
</div>
</body>
</html>
-->