
<div id="post_form_container">
<div id="post_form">
<%= form_for @outgoing do |f| %>
   <div class="field">
     <%= f.text_field :title, placeholder: "title"%>
     <%= f.text_area :content, placeholder: "enter new message",:rows=>15 %>
     <%= f.hidden_field :to_id, :value=> @incoming.from_id %>
    
  </div>
  <%= f.submit "Send",class: "test" %>
<% end %>
</div>
</div>
</div>