<p id="notice"><%= notice %></p>

<table>

	<tr>
		<th width="70%"></th>
		<th width="30%"></th>
	</tr>
	<tr>
		<td >
			<%@topic_user=User.find(@topic.user_id)%>
			<% if !(@topic_user.photo.url=="/photos/original/missing.png")%>
				<%= image_tag @topic_user.photo.url(:small)%>
			<%else%>
				<%= image_tag "https://lh5.googleusercontent.com/-niEejNWekPM/UPSk_V4rq1I/AAAAAAAAAoc/60oFt5Dhb5c/s512/touxiang.jpg",:size => "36x36"%>
			<%end%>
			<%= @topic_user.name %>
		</td>
		<td>
			<%= @topic.name %></br>
			<%= @topic.content %></br>
			<%= @topic.created_at%>
		</td>
	</tr>
	<% @topic.posts.each do |post| %>
	<tr>
		<td><%@post_user=User.find(post.user_id)%>
			<% if !(@post_user.photo.url=="/photos/original/missing.png")%>
				<%= image_tag @post_user.photo.url(:small)%>
			<%else%>
				<%= image_tag "https://lh5.googleusercontent.com/-niEejNWekPM/UPSk_V4rq1I/AAAAAAAAAoc/60oFt5Dhb5c/s512/touxiang.jpg",:size => "36x36"%>
			<%end%>
			<%= @post_user.name %>
		</td>
		<td >
			<%=post.content%></br>
			<%=post.created_at %>
		</td>
		
	<tr>
	<%end%>
</table>

<p>
	<b>Last post:</b>
  	<%= User.find(@topic.last_post_id).name %>
</p>
<p>
  <b>Last post at:</b>
  <%= @topic.last_post_at %>
</p>
<p>
  <b>forum id:</b>
  <%= @topic.forum_id %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

<%= form_for Post.new do |f| %>
    <%= f.text_area :content,:rows=>5 %>
    <%= f.hidden_field :topic_id, :value=>@topic.id%>
    <%= f.hidden_field :user_id,:value=>current_user.id%></br>
  	<%= f.submit 'reply',:class=>"btn btn-info" %>
<% end %>
