<!--UserInfo-->
<div id="userInfo">
	<%=render 'userInfo' %>
</div>

<%=render  'my_nav'%> 
		
<% if !@user.microposts.any? %>
	<p>no posts</p>
<%else%>
	<p>posts (<%= @user.microposts.count %>)</p>
    <div id="my_microposts">
    	<%= render @user.microposts.desc %>
    </div>
<% end %>
     	
<% if !@user.albums.any? %>
	<p>no albums</p>
<%else%>
	<p>albums (<%= @user.albums.count %>)</p>
    <%= render @user.albums %>
<% end %>
  

<!--<a href="/chat_notify"  style="padding-left:0px;" rel="popup console 350 350" id="notify">instant chat!</a> -->
<%#=link_to 'instant chat' ,'/chat', :id=>'notify',:style=>"padding-left:0px", :rel=>"popup console 350 350"%>


