<!--
<h1>Notification</h1>
<%= form_for Notification.new do |f| %>
    <%= f.hidden_field :recipient_id, :value => @user.id %>
	
	<div>
		<label for="notification_content">Notification</label>
		<%= f.text_area :content %>
	</div>
	<div>
		<%= f.submit 'Send a message' %>
	</div>
<% end %>
<h1>Message</h1>
<%= form_for Message.new do |f| %>
    <%= f.hidden_field :recipient_id, :value => @user.id %>
	<div>
		<label for="message_subject">Subject</label>
		<%= f.text_field :subject %>
	</div>
	<div>
		<label for="message_body">Message</label>
		<%= f.text_area :body %>
	</div>
	<div>
		<%= f.submit 'Send a message' %>
	</div>
<% end %>-->

<div id="userInfo">
	
	<% if !(@user.photo.url=="/photos/original/missing.png")%>
		<%= image_tag @user.photo.url(:small)%>
	<%else%>
		<%= image_tag "https://lh5.googleusercontent.com/-niEejNWekPM/UPSk_V4rq1I/AAAAAAAAAoc/60oFt5Dhb5c/s512/touxiang.jpg"%>
	<%end%><br/>
	
	<%= @user.name %><br/>
	<%= render 'shared/stats' %>
	<%#= link_to 'send a message', :controller=>'outgoings',:action=>'new',:to_id=>@user%>
	<%= link_to 'send a message', :controller=>'messages',:action=>'new',:recipient_id=>@user%>
</div>

<%=render  'my_nav'%> 
		<% if !@user.microposts.any? %>
		 <p>no posts</p>
		 <%end%>
   		  
   		 <% if @user.microposts.any? %>
     	 <p>posts (<%= @user.microposts.count %>)</p>
     	 <div id="microposts">
     	 <%= render @user.microposts.desc %>
     	 </div>
      	 <% end %>
     	
     	
     	
     	 <% if !@user.albums.any? %>
		 <p>no albums</p>
		 <%end%>
   		 <% if @user.albums.any? %>
     	 <p>albums (<%= @user.albums.count %>)</p>
     	 <%= render @user.albums %>
         <% end %>
  

<!--<a href="/chat_notify"  style="padding-left:0px;" rel="popup console 350 350" id="notify">instant chat!</a> -->
<%=link_to 'instant chat' ,'/chat', :id=>'notify',:style=>"padding-left:0px", :rel=>"popup console 350 350"%>

<!--
<h1>Notification</h1>
<%= form_for Notification.new do |f| %>
    <%= f.hidden_field :recipient_id, :value => @user.id %>
	
	<div>
		<label for="notification_content">Notification</label>
		<%= f.text_area :content %>
	</div>
	<div>
		<%= f.submit 'Send a message' %>
	</div>
<% end %>
-->

