<%#=render 'layouts/notify'%>
<%if current_user.name==@user.name%>
<%#=render 'layouts/html_notify'%>
<%end%>
<p id="notice"><%= notice %></p>
<%#= render 'layouts/test'%>

<!--
<aside>
-->
<div id="userInfo">
<% if !(@user.photo.url=="/photos/original/missing.png")%>
	<%= image_tag @user.photo.url(:small)%>
	<%end%><br/>
	<%= @user.name %><br/>
	<%= render 'shared/stats' %>
	<%= link_to 'send a message', :controller=>'outgoings',:action=>'new',:to_id=>@user%>

</div>
<!--
</aside>
-->
<%=render  'my_nav'%> 
		<% if !@user.microposts.any? %>
		 <p>no posts</p>
		 <%end%>
   		  
   		 <% if @user.microposts.any? %>
     	 <p>posts (<%= @user.microposts.count %>)</p>
     	 <%= render @microposts %>
      	 <% end %>
     	
     	
     	
     	 <% if !@user.albums.any? %>
		 <p>no albums</p>
		 <%end%>
   		 <% if @user.albums.any? %>
     	 <p>albums (<%= @user.albums.count %>)</p>
     	 <%= render @user.albums %>
         <% end %>
  

<!--<a href="/chat_notify"  style="padding-left:0px;" rel="popup console 350 350" id="notify">instant chat!</a> -->
<%=link_to 'instant chat' ,'/chat', :id=>'notify',:style=>"padding-left:0px", :rel=>"popup console 350 350"%>
    

