
<%= render 'microposts/form'%>
<% if !@user.microposts.any? %>
	<h3>no posts</h3>
	<%= link_to 'Add New Status','#',:onclick => "$('#new_post_form').slideDown()",:class=>"btn btn-info btn-medium"%>
<%else%>
	<div class="page-header"><h3>posts (<%= @user.microposts.count %>)</h3></div>
	<%= link_to 'Add New Status','#',:onclick => "$('#new_post_form').slideDown()",:class=>"btn btn-info btn-medium"%>
	
	<div id="microposts" style="margin-top:10px">
	<%= render @user.microposts.desc %>
	</div>
<% end %>
     	
<% if !@user.albums.any? %>
	<h3>no albums</h3>
	<%= link_to  'New Album', new_album_path,:class=>"btn btn-info btn-medium"%>
<%else%>
	<h3>albums (<%= @user.albums.count %>)</h3>
	<%= link_to 'New Album', new_album_path,:class=>"btn btn-info btn-medium"%>
	<%= render @user.albums %>
<% end %>


<!--<a href="/chat_notify"  style="padding-left:0px;" rel="popup console 350 350" id="notify">instant chat!</a> -->
<%#=link_to 'instant chat' ,'/chat', :id=>'notify',:style=>"padding-left:0px", :rel=>"popup console 350 350"%>


