<% @user ||= current_user %>
<a href="<%= following_user_path(@user) %>">
	<%= @user.followed_users.count %>  following
</a>

<a href="<%= followers_user_path(@user) %>">
	<%= @user.followers.count %>  followers
</a>
<br/>
 


<% if !current_user.following?(@user) %>  
	<div id="follow">
		<%= render 'shared/follow'%>
	</div>
<%else%>

<div id="unfollow"> 
	<%= render 'shared/unfollow'%>
</div>
<%end%>