<p>
  <b>Name:</b>
  <%= @album.name %><br />
  
  <% @album.photos.each do |photo| %>
    <h3><%=photo.description %></h3>
    <%= image_tag photo.image.url(:medium) %>
  <% end %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

