	
		
		<% if user_signed_in? %>
		<%if @photo.album.user==current_user%>
		<%= link_to 'Edit', edit_photo_path(@photo) %> |
		<%= link_to 'Back', album_path(@album) %>
        <%= link_to 'delete',photo_path(@photo)+'/delete'%>
        <%end%>
		<%end%>
	



  <b>Album ID:</b>
  <%= @photo.album_id %>
  <b>Number Of Photos</b>
  <%=@album.photos.count%>
  <br/>


<%unless @first%>
<%=link_to 'previous', photo_path(@pre)%>
<%end%>

 <%=link_to image_tag(@photo.image.url(:medium)),photo_path(@next) unless @last%>
<%if @last%>
<%=image_tag @photo.image.url(:medium)%>
<%end%>
<br/>
 <%= @photo.description %>





 <% if @photo.microcomments.any? %>
      <h3>comments (<%= @photo.microcomments.count %>)</h3>

  <%= render @photo.microcomments%>
  
 <% end %>



<%= form_for @microcomment, :url=>photo_path(@photo),:action=>:add_comment do |f| %>
 <%=f.text_area :content, placeholder: "enter new comment",:rows=>5 ,:cols=>30%>
 <%=f.submit  %>
 
<% end %>

