<div id="post_content">
<ul>
  <tr>
  
  <%= micropost.content %>
  
  <% if !(micropost.photo.url=="/photos/original/missing.png")%>
  <%= image_tag micropost.photo%>
  <%end%>
  
  Posted by <%=link_to micropost.user.name,user_path(micropost.user) unless micropost.user.nil? %> 
    <%= time_ago_in_words(micropost.created_at) %> ago.
    comments (<%=micropost.microcomments.count%>)
  
  <%=link_to 'show details', micropost_path(micropost),:remote => true, :id=>'show_details'%>

  </tr>
<div id="details">
   <%= micropost.content %>
   <% if user_signed_in? %>
		<% if micropost.user==current_user%>
		
		<%= link_to "Edit",:action=>'edit',:controller=>'microposts',:id=>micropost.id%>
		<%= link_to 'delete',micropost_path(micropost)+'/delete',:remote=>true,:id=>'destroy_post'%>
	<%end%>
<%end%>
</div>

</div>
</ul>  

