<% if user_signed_in? %>
		
		<%#= link_to 'Back|', user_path(@user) %>
		<% if @micropost.user==current_user%>
		<%= link_to "|Edit|",edit_micropost_path(@micropost)%>
		<%= link_to "|Delete|", @micropost,:method=>'delete'%>
		
	<%end%>
<%end%>
	
<%=@micropost.content%>
  <span class="timestamp">
    ---posted by 
    
    <%= time_ago_in_words(@micropost.created_at) %> ago by
    <%=link_to @micropost.user.name,user_path(@micropost.user)%>
</span>
 <% if !(@micropost.photo.url=="/photos/original/missing.png")%>
 <p>your post has a photo!</p>
 <%= image_tag @micropost.photo.url%>
 <%end%>






 <% if @micropost.microcomments.any? %>
      <h3>comments (<%= @micropost.microcomments.count %>)</h3>
      <%=render @micropost.microcomments%>
 <% end %>



<%#=link_to "new comment",new_microcomment_path(@microcomment,:format =>:js),:remote=> true,:id=>"new_comment_link"%>
<%#=link_to "new comment",new_microcomment_path(@microcomment,:format => :js),:remote => true, :id=>"comment_js"%>




<%= form_for @microcomment, :url=>micropost_path(@micropost),:action=>:add_comment do |f| %>
 
   <%= f.text_area :content, placeholder: "enter new comment",:rows=>3 %>

<%= f.submit  %>
<% end %>


 
