<div id='top_bar'>
	<ul>
		<% if user_signed_in? %>
			<li><%= link_to 'sign out', destroy_user_session_path, :method=>'delete' %> </tr>
			<li><%#=link_to "messages", :controller=>'box',:action=>'index'%></li>
			<li><%=link_to "messages", :controller=>'messages',:action=>'index'%></li>
			<li>
			<%=link_to "notifications",'#',:remote=>true,:id=>"notification__details_link",
  		        :onclick=>"$('#notification_list').toggle();"%>
		    <span id="notify"><%= render 'layouts/notification'%></span> 
		    	<div id="notification_list">
	      			<%= render @notifications%>
				</div>
			</li>
 		<%else%>
			<%= link_to 'sign in', new_user_session_path %>    
		<%end%>
	</ul>
</div>