<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pet2pet</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application","http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
<!--
    <script src="app/views/assets/javascripts/chat.js"></script>
    <script type="text/javascript" charset="utf-8">
    	var PUSHER_KEY = '<%= Pusher.key %>'
	</script>
	-->
 </head>



<body>
<div id="super-container">
    <%= render 'layouts/top_bar'%>
	<%= render 'layouts/header' %>
	<%= render 'layouts/nav'%>
	<section>

		<div id="content">
		<%= yield %>
		</div>

		<%#= render 'layouts/aside'%>

		<%= render 'layouts/footer' %>

	</section>
<%#= render 'layouts/messages' %>
<!--div id="main" role="main"-->

</div>
 <!--! end of #container -->
</body>
</html>
