<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PetBook</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application","http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
<!--
    <script src="app/views/assets/javascripts/chat.js"></script>
    <script type="text/javascript" charset="utf-8">
    	var PUSHER_KEY = '<%= Pusher.key %>'
	</script>
	-->
 </head>



<body>
<%= render 'layouts/header' %>
<%= render 'layouts/nav'%>
<section>
<%= yield %>
</section>
<%= render 'layouts/aside'%>
<%#= render 'layouts/messages' %>
<!--div id="main" role="main"-->
<%= render 'layouts/footer' %>

 <!--! end of #container -->
</body>
</html>
