<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pet2pet</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "http://js.pusher.com/1.11/pusher.min.js"%>
    <%= javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js" %>
    <%= javascript_include_tag "realtime-notifications/src/PusherNotifier.js"%>
    <%= stylesheet_link_tag "realtime-notifications/src/lib/gritter/css/jquery.gritter.css" %>    
<script>
    $(function() {
      var pusher = new Pusher('762d91d209496e530276'); // Replace with your app key
      var channel = pusher.subscribe('private-'+<%= current_user ? current_user.id : 'null' %>);
      
      channel.bind('new_message', function(data) {
        msg = data.content
        dom_notify(msg);
        title_notify(msg);
        if (window.webkitNotifications) { webkit_notify(msg); }
      });
      
      // In DOM alert
      function dom_notify(msg) {
      
        $('#notify').text(msg);
       //$("#notify").html("<%= escape_javascript(render(:partial=>'layouts/notification'))%>");

        //$('#notify').fadeIn();
        //setTimeout(function() {
          //$('#notify').fadeOut
          //();
        //}, 2000);
      }
      
      // <title> msg
      function title_notify(msg) {
        $.titleAlert(msg);
      }
      
      // Webkit Notifications API
      // http://www.html5rocks.com/en/tutorials/notifications/quick/
      
      // Setup permissions
      if (window.webkitNotifications) {
        console.log("Notifications are supported!");
        $('#notify_api').show();
      }
      else {
        console.log("Notifications are not supported for this Browser/OS version yet.");
      }
      
      $('#ask_notify_permission').click(function() {
        window.webkitNotifications.requestPermission();
      });
      
      // Notify function
      function webkit_notify(msg) {
        notify = window.webkitNotifications.createNotification('http://pusher.com/stylesheets/images/feature_scalable.png', msg, '');
        notify.show();
      }
      
      // Some useful Pusher debug msgs
      pusher.connection.bind('connecting', function() {
        $('div#status').text('Connecting to Pusher...');
      });
      pusher.connection.bind('connected', function() {
        $('div#status').text('Connected to Pusher!');
      });
      pusher.connection.bind('failed', function() {
        $('div#status').text('Connection to Pusher failed :(');
      });
      channel.bind('subscription_error', function(status) {
        $('div#status').text('Pusher subscription_error');
      });
    });
	</script>
</head>

<body>
<div id="status"></div>
<div id="notify_api"><button type="button" id="ask_notify_permission">Enable Webkit Notifications</button></div>

		<p class="notice">Notice:<%= notice %></p>
		<p class="alert"><%= alert %></p>
  </head>   
   
<body>
<div id="super-container">
    <%= render 'layouts/top_bar'%>
	<%= render 'layouts/header' %>
	<%= render 'layouts/nav'%>
	<section>

		<div id="content">
		<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</section>
</div>
</body>
</html>
